# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp

# Logs
/logs/
*.log

# Media & Static
media/
staticfiles/

# Database
*.sqlite3
db.sqlite3

# Coverage
htmlcov/
.coverage
coverage.xml

# OS
.DS_Store
Thumbs.db

# PDF output
pdf_logs/
